.vscode/launch.json
.vscode/tasks.json
Sviluppo/.DS_Store
.env
.DS_Store
progetto.dSYM
test.dSYM
Sviluppo/test
Sviluppo/output.txt
Sviluppo/results.txt
Sviluppo/API_progetto
Sviluppo/progetto
Sviluppo/results_test.txt
results_test.txt
valgrind.txt
Sviluppo/file_ver
Output/
callgrind.out.*
Sviluppo/verifier_ver
Sviluppo/generic_test
massif.out.*
Sviluppo/file_ver.dSYM/
Sviluppo/parser
Sviluppo/list_ver.dSYM/
Sviluppo/list_ver
Sviluppo/debug.txt
